.row{
  margin: 0px;
  width: 100%;
}

.col-2{
  width:max-content;
  padding: 0px;
  /* border: 1px solid red; */
}

.col-2 button{
  cursor: pointer;
  background-color: rgb(10, 122, 122);
  border: none;
}
